.gradle/
build/
out/
!gradle/wrapper/gradle-wrapper.jar

.idea/
*.iml
*.iws
*.ipr

.vscode/
*.log
*.tmp

local.properties
.env
.env.local
src/main/resources/application-local.conf

*.DS_Store
Thumbs.db
run.sh
.env
