BOT_TOKEN=
BOT_USERNAME=

POSTGRES_DB=meventus
POSTGRES_USER=meventus
POSTGRES_PASSWORD=
POSTGRES_PUBLIC_BIND=0.0.0.0
POSTGRES_PUBLIC_PORT=5432

DATABASE_URL=jdbc:postgresql://db:5432/meventus
DATABASE_USER=meventus
DATABASE_PASSWORD=

WEBAPP_PORT=8080
WEBAPP_HOST=185.4.72.98.sslip.io
WEBAPP_URL=https://185.4.72.98.sslip.io
